extends ../adminLayout

block adminContent
	h1=title
	
	i=subscriber.message
	if subscriber.data
		p Thank you #{subscriber.data.fullName} for subscribing to our events.

	if subscriber.errors
		ul
			each error in subscriber.errors
				li=error.msg
	br
