extends layout

block content
	.container-fluid
		.row
			.col-md-3
				.card.shadow
					h5.card-header Admin Navigation
					ul.nav.nav-pills.flex-column
						li.nav-item
							a.nav-link(href="/admin") Dashboard 
								span.oi.oi-home(title='home' aria-hidden=true)
						
						
						li.nav-item
							a.nav-link(href="/admin") Dashboard 
								span.oi.oi-home(title='home' aria-hidden=true)
						li.nav-item
							a.nav-link(href="/admin/users") Users 
								span.fas.fa-users
						li.nav-item
							a.nav-link(href="/admin/categories") Categories 
								span.fas.fa-folder
						li.nav-item(class=(navSub?'active':''))
							a.nav-link(href="/admin/subscribers") Subscribers 
								span.oi.oi-home(title='home' aria-hidden=true)
							
			.col-md-9
				block adminContent
