body {
  font: 13px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #dedede;
}

.nav-item.nav-link{
  color: white;
}

.nav-item.active{
  background-color: #cccccc;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 2px 0;
  float: center;
}

footer{
  position: relative;
  bottom: 0;

}

.nav-item{
  background-color: #eeee;
  padding: 5px;
  border-radius: 5px;
  margin: 2px 0;
}